<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Komick</title>
    <!-- Main css -->
     <link rel="stylesheet" href="/style/style.css">
     <link rel="icon" href="/img/KZ__2_-removebg-preview.png">
</head>
<body>
    <%- body %>
    <script src="../../script.js"></script>
</body>
</html>